.header__banner_desc_items{
  top: 35%;
  left: 55%;
}
.services__item{
  width: 100%;
  margin-bottom: 20px;
}
.footer__item{
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}
.footer__control{
  width: 100%;
}
.header__banner_desc_title{}


.header__banner_desc_text{}
.header__banner_desc_btn{}